/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "zmk-helpers/helper.h"
#include "includes/cornix54.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/pointing.h>

#define L_BASE 0
#define L_NAV  1
#define L_SYM1 2
#define L_SYM2 3
#define L_NUM  4

/ {
    // --- マクロ定義 ---
    macros {
        m4_gui_alt_k: m4_gui_alt_k {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI &kp LALT>, <&macro_tap &kp K>, <&macro_release &kp LGUI &kp LALT>;
        };
    };

    // --- Tap Dance 定義 ---
    behaviors {
        td0: td_tab_mo1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp TAB>, <&mo L_NAV>;
        };
        td1: td_caps_tg1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp CAPSLOCK>, <&mo L_NAV>, <&tg L_NAV>;
        };
        td2: td_bspc_mo1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp BSPC>, <&mo L_NAV>;
        };
        td4: td_minus_rshift {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp MINUS>, <&kp RSHIFT>;
        };
        td5: td_equal_rctrl {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp EQUAL>, <&kp RCTRL>;
        };
        td6: td_lang2_sym2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp INT_MUHENKAN>, <&mo L_SYM2>, <&tg L_SYM2>;
        };
        td7: td_lang1_sym1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp INT_HENKAN>, <&mo L_SYM1>, <&tg L_SYM1>;
        };
    };

    // --- Combos (同時押し) 定義 ---
    combos {
        compatible = "zmk,combos";
        combo_space { timeout-ms = <50>; key-positions = <15 16>; bindings = <&kp SPACE>; layers = <0 1>; }; // D + F
        combo_tab   { timeout-ms = <50>; key-positions = <14 15 16>; bindings = <&kp TAB>; layers = <0 1>; }; // S + D + F
        combo_esc   { timeout-ms = <50>; key-positions = <13 14 15 16>; bindings = <&kp ESC>; layers = <0 1>; }; // A + S + D + F

        combo_bspc  { timeout-ms = <50>; key-positions = <19 20>; bindings = <&kp BSPC>; layers = <0 1>; }; // J + K
        combo_del   { timeout-ms = <50>; key-positions = <19 20 21>; bindings = <&kp DELETE>; layers = <0 1>; }; // J + K + L

        combo_lpar  { timeout-ms = <50>; key-positions = <27 28>; bindings = <&kp LPAR>; layers = <0 1>; }; // C + V -> (
        combo_lbrc  { timeout-ms = <50>; key-positions = <26 27 28>; bindings = <&kp LBRC>; layers = <0 1>; }; // X + C + V -> {
        combo_lbkt  { timeout-ms = <50>; key-positions = <25 26 27 28>; bindings = <&kp LBKT>; layers = <0 1>; }; // Z + X + C + V -> [

        combo_rpar  { timeout-ms = <50>; key-positions = <31 32>; bindings = <&kp RPAR>; layers = <0 1>; }; // M + COMMA -> )
        combo_rbrc  { timeout-ms = <50>; key-positions = <31 32 33>; bindings = <&kp RBRC>; layers = <0 1>; }; // M + COMMA + DOT -> }
        combo_rbkt  { timeout-ms = <50>; key-positions = <31 32 33 34>; bindings = <&kp RBKT>; layers = <0 1>; }; // M + COMMA + DOT + FSLH -> ]

        combo_to_num { timeout-ms = <50>; key-positions = <40 43>; bindings = <&to L_NUM>; layers = <0 1 2 3>; }; // TD6 + TD7
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0: Base
        default_layer {
            display-name = "Base";
            bindings = <
&td0       &kp Q      &kp W      &kp E       &kp R     &kp T                                        &kp Y     &kp U     &kp I      &kp O      &kp P         &td2
&td1       &kp A      &kp S      &kp D       &kp F     &kp G                                        &kp H     &kp J     &kp K      &kp L      &kp BSLH      &kp RET
&kp LSHFT  &kp Z      &kp X      &kp C       &kp V     &kp B      &kp C_MUTE &mkp MB3               &kp N     &kp M     &kp COMMA  &kp DOT    &kp FSLH      &td4
&kp LCTRL  &kp LALT   &kp LGUI   &kp SEMI    &td6      &kp SPACE                                    &kp SPACE &td7      &kp SQT    &kp LBKT   &kp RBKT      &td5
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN>;
        };

        // Layer 1: Nav / Function
        nav_layer {
            display-name = "Navi";
            bindings = <
&kp ESC    &kp F1        &kp F2        &kp F3     &kp F4    &kp F5                                  &kp F6    &kp F7    &kp F8     &kp F9     &kp F10       &kp DEL
&tg L_NAV  &kp ESC       &kp TAB       &kp SPACE  &kp SPACE &kp SPACE                               &kp LEFT  &kp DOWN  &kp UP     &kp RIGHT  &kp RET       &kp RET
&kp LSHFT  &kp LG(LS(N4)) &kp LG(LS(S)) &m4_gui_alt_k &kp DEL &kp BSPC &kp C_MUTE &mkp MB3          &kp HOME  &kp PG_DN &kp PG_UP  &kp END    &kp LS(FSLH)  &kp RSHFT
&kp LCTRL  &kp LALT      &kp LGUI      &kp COLON  &td6      &kp SPACE                               &kp SPACE &td7      &kp DQT    &kp LPAR   &kp RPAR      &kp RCTRL
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN>;
        };

        // Layer 2: Symbols / Mouse 1
        sym1_layer {
            display-name = "Sym1";
            bindings = <
&kp GRAVE  &kp N1        &kp N2        &kp N3     &kp N4    &kp N5                                  &kp N6    &kp N7    &kp N8     &kp N9     &kp N0        &kp BSPC
&kp CLCK   &none         &none         &none      &kp SEMI  &kp MINUS                               &kp EQUAL &kp SQT   &none      &none      &mkp MB3      &kp RET
&kp LSHFT  &kp LG(LS(N4)) &kp LG(LS(S)) &m4_gui_alt_k &kp DEL &kp BSPC &kp C_MUTE &mkp MB3          &none     &none     &none      &mkp MB1   &mmv MOVE_UP  &mkp MB2
&kp LCTRL  &kp LALT      &kp LGUI      &none      &to L_NUM &kp SPACE                               &kp SPACE &tg L_SYM1 &none     &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN>;
        };

        // Layer 3: Shifted Symbols
        sym2_layer {
            display-name = "Sym2";
            bindings = <
&kp TILDE  &kp EXCL      &kp AT        &kp HASH   &kp DLLR  &kp PRCNT                               &kp CARET &kp AMPS  &kp STAR   &kp LPAR   &kp RPAR      &kp BSPC
&kp CLCK   &none         &none         &none      &kp COLON &kp UNDER                               &kp PLUS  &kp DQT   &none      &none      &none         &kp RET
&kp LSHFT  &kp LG(LS(N4)) &kp LG(LS(S)) &none      &kp DEL   &kp BSPC &kp C_MUTE &mkp MB3          &none     &none     &none      &none      &kp UP        &kp RSHFT
&kp LCTRL  &kp LALT      &kp LGUI      &none      &tg L_SYM2 &kp SPACE                              &kp SPACE &to L_NUM &none      &kp LEFT   &kp DOWN      &kp RIGHT
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN>;
        };

        // Layer 4: Numpad
        num_layer {
            display-name = "NumPad";
            bindings = <
&kp ESC    &none         &kp UP        &kp PG_UP  &none     &none                                   &none     &kp KP_SLASH    &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp BSPC
&none      &kp LEFT      &kp DOWN      &kp RIGHT  &none     &none                                   &none     &kp KP_MULTIPLY &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp RET
&none      &kp LG(LS(N4)) &kp LG(LS(S)) &kp PG_DN &none     &none    &kp C_MUTE &mkp MB3            &none     &kp KP_COMMA    &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_MINUS
&none      &kp LALT      &kp LGUI      &to L_BASE &to L_BASE &kp SPACE                              &kp SPACE &kp KP_N0       &kp KP_N0 &kp KP_DOT &kp KP_EQUAL &kp KP_PLUS
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
